<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user.email %>
</p>

<p>
  <strong>Profile pic:</strong>
  <%= image_tag @user_profile.profile_pic %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= link_to "Facebook Link", @user_profile.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= link_to @user_profile.twitter, "http://twitter.com/" + @user_profile.twitter %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
